<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="ctl_project_name">Name</label>
    <div class="controls">
    	<input id="ctl_project_name" class="input-xlarge" type="text" placeholder="Name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="ctl_project_description">Description</label>
    <div class="controls">
    	<textarea id="ctl_project_description" rows="6" class="input-xlarge"></textarea>
    </div>
  </div>
</form>

<script>

var api = null;
var appl = null;
onReadyAPIEvent = function(api_client, session, app)
{
	require(['jquery'], function($){
		
		api = api_client;
		appl = app;
		api.getModel('Project', function(e, model){
			
			if (!e)
				console.log(model);
			else
				console.log(e);
			
		});
		
	});
}

function getObject(control_ids, property_names)
{
	var returnObject = {};
	
	for (var i = 0; i < control_ids.length;i++)
	{
		returnObject[property_names[i]] = $('#' + control_ids[i]).val();
	}

	return returnObject;
}

function save()
{
	console.log('on save clicked');
	
	var newProject = getObject(['ctl_project_name','ctl_project_description'],['name','description']);
	console.log(newProject);

	api.create('Project', newProject, function(err, response){
		
		if (!err)
		{
			appl.showMessage('Project created successfully', 'info', 2000);
			parent.basePage.app.modalWindowHide();
		}
		else
		{
			appl.showMessage('Project creation failed: ' + err, 'error', 2000);
		}
	})

	
}

</script>