<style type="text/css">
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-createaccount {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-createaccount .form-createaccount-heading,
.form-createaccount .checkbox {
  margin-bottom: 10px;
}
.form-createaccount input[type="text"],
.form-createaccount input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

</style>

<script>

function submitConfirm()
{
	var confirmCode = $('#txt_confirm_code').val();
	
	if (confirmCode != "Confirmation code")
	{
		$('#confirm_frm').attr('action', '/account/confirm_complete?account=' + confirmCode + '&user=<%- user  %>');
		
		console.log($('#confirm_frm').attr('action'));
		
		$('#confirm_frm').submit();
	}
}

</script>

<div class="container">
<form class="form-confirm" method="POST" id="confirm_frm">
  <h2 class="form-createaccount-heading">Account creation complete, you will be sent an email</h2>
  
  <input type="text" class="input-block-level" placeholder="Confirmation code" id="txt_confirm_code"></input>
  <button class="btn btn-large btn-primary" type="submit" onclick="submitConfirm()">Confirm</button>
</form>

</div>

