<div class="span3">
	<div class="accordion" id="accordion2" style="height:100%">
	<div class="accordion-group">
	    <div class="accordion-heading">
	        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
	            <h4>Workshop</h4>
	        </a>
	    </div>
	    <div id="collapseOne" class="accordion-body collapse in">
	        <div class="accordion-inner">
	        	<div class="sidemenu_container_tools" id="div_sidemenu_workshop_tools">
		        	<div class="btn-group">
		        	  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		        	    New
		        	    <span class="caret"></span>
		        	  </a>
		        	  <ul class="dropdown-menu">
		        	   	<li><a onclick="newProject()" href="#">Project</a></li>
		        	   	<li><a onclick="newRobot()" href="#">Robot</a></li>
		        	   	<li><a onclick="newSchematic()" href="#">Schematic</a></li>
		        	   	<li><a onclick="newProcessMap()" href="#">Process Map</a></li>
		        	  </ul>
		        	</div>
	        	</div>
	            <div class="sidemenu_container" id="div_sidemenu_workshop"></div>
	        </div>
	    </div>
	</div>
	<div class="accordion-group">
	    <div class="accordion-heading">
	        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
	        	<h4>Factory</h4>
	        </a>
	    </div>
	    <div id="collapseTwo" class="accordion-body collapse">
	        <div class="accordion-inner">
	        	<div class="sidemenu_container" id="div_sidemenu_factory"></div>
	        </div>
	    </div>
	</div>
	<div class="accordion-group">
	    <div class="accordion-heading">
	        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
	        	<h4>Warehouse</h4>
	        </a>
	    </div>
	    <div id="collapseThree" class="accordion-body collapse">
	        <div class="accordion-inner">
	        	<div class="sidemenu_container" id="div_sidemenu_warehouse"></div>
	        </div>
	    </div>
	</div>
	<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
        	<h4>Personnel</h4>
        </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse">
        <div class="accordion-inner">
        	<div class="sidemenu_container" id="div_sidemenu_personnel"></div>
        </div>
    </div>
</div>
	</div>
</div>

<div class="span9">
    <div class="content-tabheaders">
	   <ul class="nav nav-tabs">
	    <li class="active">
	      <a href="#">Dashboard</a>
	    </li>
	    <!--
	    <li><a href="#">...</a></li>
	    <li><a href="#">...</a></li>
	    -->
	  </ul>
    </div>
    <div class="content-container"></div>
</div>

<script>

var api;
var sess;
var workshopMenu;

onReadyAPIEvent = function(api_client)
{
	basePage.getSession(function(session){
		
		$(window).resize(function() {
		    $('.content-container').height($(window).height() - 130);
		});
		
		api = api_client;
		sess = session;
		initializeWorkshop();
		
		
	});
	
}

function initializeWorkshop()
{
	var projectItemClicked = function(item, menuTree, clickDone)
	{
		
		//console.log('project item was clicked');
		//console.log(item);
		
		var clickedProject = item.data('item-data');
		
		if (item.attr('model-type') == 'Project')
		{
			// var updateTree = function ($container, tree, items, parentItemID, nameProperty, idProperty, modelType, done) {
			//console.log('updating tree, clicked on project');
			//console.log(item.attr('id'));
			menuTree.update([{name:'Processors', _id:item.attr('object-id')}], item.attr('id'), 'name', '_id', 'Project:Processor', false, function(e){
				
				api.find('Robot', {'projectId':clickedProject._id, type: 'processor'}, function(err, robots){
					
					menuTree.update([{name:'Components', _id:item.attr('object-id')}], item.attr('id'), 'name', '_id', 'Project:Component', false, function(e){
						
						api.find('Robot', {'projectId':clickedProject._id, type: 'component'}, function(err, robots){
							
							menuTree.update([{name:'Schematics', _id:item.attr('object-id')}], item.attr('id'), 'name', '_id', 'Project:Schematic', false, function(e){
								
								api.find('Schematic', {'projectId':clickedProject._id}, function(err, schematics){
									
									menuTree.update([{name:'Process Maps', _id:item.attr('object-id')}], item.attr('id'), 'name', '_id', 'Project:ProcessMap', false, function(e){
										
										api.find('ProcessMap', {'projectId':clickedProject._id}, function(err, blueprints){
											
											clickDone();
											
										});
										
									});
									
								});
								
							});
							
						});
						
					});
					
				});
				
			});
		}
	}.bind(this);
	
	initializeAccordionMenu('workshop', null, null, projectItemClicked, function(menuTree){
		
		api.getAll('Project', function(err, projects){
			menuTree.update(projects, null, 'name', '_id', 'Project', true,  function(e){
				$(window).trigger('resize');
			});
		});

	});
}

function initializeAccordionMenu(area, onBeforeItemAdded, onItemAdded, onItemClicked, done)
{
	getMenuTree(area, function(menuTree){
		
		if (onBeforeItemAdded != null)
			menuTree.beforeItemAdd = onBeforeItemAdded;
		
		if (onItemAdded != null)
			menuTree.itemAdded = onItemAdded;
		
		if (onItemClicked != null)
			menuTree.itemClicked = onItemClicked;
		
		menuTree.initialize(function(e){
			
			if (!e)
				done(menuTree);
			
		});
		
	});
	
}

function getMenuTree(area, done)
{
	require(['jquery', 'tbtree'], function ($, tbtree) {
		var menuTree = tbtree('#div_sidemenu_' + area);
		done(menuTree);
		
	});
}

function openTab(url)
{
	
}

function newRobot()
{
	//require(['app'], function (app) {
		var account_id = '<%- account_id  %>';
		//console.log('new project happening');
		basePage.app.modalWindow('<h3 id="myModalLabel">New Robot</h3>', '/robot/create?account_id=' + sess['account']._id, 500, 640,'save','Create');
	//});
}

function newProcessMap()
{
	//require(['app'], function (app) {
		var account_id = '<%- account_id  %>';
		//console.log('new project happening');
		basePage.app.modalWindow('<h3 id="myModalLabel">New Process Map</h3>', '/processmap/create?account_id=' + sess['account']._id, 500, 500,'save','Create');
	//});
}

function newSchematic()
{
	//require(['app'], function (app) {
		var account_id = '<%- account_id  %>';
		//console.log('new project happening');
		basePage.app.modalWindow('<h3 id="myModalLabel">New Schematic</h3>', '/schematic/create?account_id=' + sess['account']._id, 500, 500,'save','Create');
	//});
}

function newProject()
{
	//require(['app'], function (app) {
		//var account_id = '<%- account_id  %>';
		//console.log('new project happening');
		
	
		basePage.app.modalWindow('<h3 id="myModalLabel">New Project</h3>', '/project/create?account_id=' + sess['account']._id, 500, 500,'save','Create');
	//});
}

function newObjectAdded(area, type, object, done)
{
	if (type == 'Project')
	{
		require(['jquery', 'tbtree'], function ($, tbtree) {
		    tbtree('#div_sidemenu_' + area).update([object], null, 'name', '_id', type, function(){
		    	
		    	//console.log('new project added ');
		    	//console.log(object);
		    	
		    	if (done != null)
		    		done();
		    	
		    });
		});
	}
}

</script>