<div class="span3">
	<div class="accordion" id="accordion2" style="height:100%">
	<div class="accordion-group">
	    <div class="accordion-heading">
	        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
	            <h4>Workshop</h4>
	        </a>
	    </div>
	    <div id="collapseOne" class="accordion-body collapse in">
	        <div class="accordion-inner">
	        	<div class="sidemenu_container_tools" id="div_sidemenu_workshop_tools">
		        	<div class="btn-group">
		        	  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		        	    New
		        	    <span class="caret"></span>
		        	  </a>
		        	  <ul class="dropdown-menu">
		        	   	<li><a onclick="newProject()" href="#">Project</a></li>
		        	   	<li><a onclick="newRobot()" href="#">Robot</a></li>
		        	   	<li><a onclick="newSchematic()" href="#">Schematic</a></li>
		        	   	<li><a onclick="newProcessMap()" href="#">Process Map</a></li>
		        	  </ul>
		        	</div>
	        	</div>
	            <div class="sidemenu_container" id="div_sidemenu_workshop"></div>
	        </div>
	    </div>
	</div>
	<div class="accordion-group">
	    <div class="accordion-heading">
	        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
	        	<h4>Factory</h4>
	        </a>
	    </div>
	    <div id="collapseTwo" class="accordion-body collapse">
	        <div class="accordion-inner">
	        	<div class="sidemenu_container" id="div_sidemenu_factory"></div>
	        </div>
	    </div>
	</div>
	<div class="accordion-group">
	    <div class="accordion-heading">
	        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
	        	<h4>Warehouse</h4>
	        </a>
	    </div>
	    <div id="collapseThree" class="accordion-body collapse">
	        <div class="accordion-inner">
	        	<div class="sidemenu_container" id="div_sidemenu_warehouse"></div>
	        </div>
	    </div>
	</div>
	<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
        	<h4>Personnel</h4>
        </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse">
        <div class="accordion-inner">
        	<div class="sidemenu_container" id="div_sidemenu_personnel"></div>
        </div>
    </div>
</div>
	</div>
</div>

<div class="span9">
   
</div>

<script>

/*

 <div class="content-tabheaders">
	   <ul class="nav nav-tabs">
	    <li class="active">
	      <a href="#">Dashboard</a>
	    </li>
	    <!--
	    <li><a href="#">...</a></li>
	    <li><a href="#">...</a></li>
	    -->
	  </ul>
    </div>
    <div class="content-container"></div>

 */

var api;
var sess;
var workshopMenu;

onReadyAPIEvent = function(api_client)
{
	basePage.getSession(function(session){
		
		$(window).resize(function() {
		    $('.content-container').height($(window).height() - 130);
		});
		
		api = api_client;
		sess = session;
		initializeWorkshop();
		
		
	});
	
}

function initializeWorkshop()
{
	var projectItemClicked = function(item, menuTree, clickDone)
	{
		
		//console.log('project item was clicked');
		//console.log(item);
		
		console.log("item.attr('model-type')");
		console.log(item.attr('model-type'));
		
		if (item.attr('model-type') == 'Robot_Controls')
		{
			
			console.log(item.data('parent-data'));
			
			getTabWindow(function(tabWindow){
				
				console.log('got tab window');
				//selectTab:function(key, name, url)
				tabWindow.selectTab (item.attr('model-type') + "_" + item.attr('object-id'), item.data('parent-data').name + ' ' + item.data('item-data').name, '#blank', function(e){
					
					
				});
				
			});
		}
		
		if (item.attr('model-type') == 'Robot')
		{
			menuTree.update({list:[{name:'Properties', _id:item.attr('object-id')}], parent:item.data('item-data')}, item.attr('id'), 'name', '_id', 'Robot_Properties', false, function(e){
				
				menuTree.update({list:[{name:'Controls', _id:item.attr('object-id')}], parent:item.data('item-data')}, item.attr('id'), 'name', '_id', 'Robot_Controls', false, function(e){
					
					menuTree.update({list:[{name:'Instructions', _id:item.attr('object-id')}], parent:item.data('item-data')}, item.attr('id'), 'name', '_id', 'Robot_Instructions', false, function(e){
						clickDone();
					});
					
				});
				
			});
		}
		
		
		if (item.attr('model-type') == 'Project_Processor')
		{
			
			
			api.find('Robot', {'projectId':item.attr('object-id'), robotType: 'processor'}, function(err, robots){
				
				menuTree.update({list:robots, parent:item.data('item-data')}, item.attr('id'), 'name', '_id', 'Robot', true, function(e){
					clickDone();
				});
				
			});
		}
		
		if (item.attr('model-type') == 'Project')
		{
			var clickedProject = item.data('item-data');
			
			// var updateTree = function ($container, tree, items, parentItemID, nameProperty, idProperty, modelType, done) {
			//console.log('updating tree, clicked on project');
			//console.log(item.attr('id'));
			
			menuTree.update({list:[{name:'Properties', _id:item.attr('object-id')}], parent:item.data('item-data')}, item.attr('id'), 'name', '_id', 'Project_Properties', false, function(e){
				
				menuTree.update({list:[{name:'Processors', _id:item.attr('object-id')}], parent:item.data('item-data')}, item.attr('id'), 'name', '_id', 'Project_Processor', false, function(e){
					
					api.find('Robot', {'projectId':clickedProject._id, type: 'processor'}, function(err, robots){
						
						menuTree.update({list:[{name:'Components', _id:item.attr('object-id')}], parent:item.data('item-data')}, item.attr('id'), 'name', '_id', 'Project_Component', false, function(e){
							
							api.find('Robot', {'projectId':clickedProject._id, type: 'component'}, function(err, robots){
								
								menuTree.update({list:[{name:'Schematics', _id:item.attr('object-id')}], parent:item.data('item-data')}, item.attr('id'), 'name', '_id', 'Project_Schematic', false, function(e){
									
									api.find('Schematic', {'projectId':clickedProject._id}, function(err, schematics){
										
										menuTree.update({list:[{name:'Process Maps', _id:item.attr('object-id')}], parent:item.data('item-data')}, item.attr('id'), 'name', '_id', 'Project_ProcessMap', false, function(e){
											
											api.find('ProcessMap', {'projectId':clickedProject._id}, function(err, blueprints){
												
												clickDone();
												
											});
											
										});
										
									});
									
								});
								
							});
							
						});
						
					});
					
				});
				
			});
		}
	}.bind(this);
	
	initializeTabWindow(null, null, null, function(e){
		
		if (!e)
		{
			initializeAccordionMenu('workshop', null, null, projectItemClicked, function(menuTree){
				
				api.getAll('Project', function(err, projects){
					menuTree.update({list:projects, parent:null}, null, 'name', '_id', 'Project', true,  function(e){
						$(window).trigger('resize');
					});
				});

			}.bind(this));
		}
	}.bind(this));
	
}

function initializeTabWindow(onBeforeTabAdded, onTabAdded, onTabClicked, done)
{
	try
	{
		getTabWindow(function(tabWindow){
			
			if (onBeforeTabAdded != null)
				tabWindow.beforeItemAdd = onBeforeTabAdded;
			
			if (onTabAdded != null)
				tabWindow.itemAdded = onTabAdded;
			
			if (onTabClicked != null)
				tabWindow.itemClicked = onTabClicked;
			
			tabWindow.initialize(null,null);
			
			done();
			
		});
	}
	catch(e)
	{
		done(e);
	}
}

function initializeAccordionMenu(area, onBeforeItemAdded, onItemAdded, onItemClicked, done)
{
	getMenuTree(area, function(menuTree){
		
		if (onBeforeItemAdded != null)
			menuTree.beforeItemAdd = onBeforeItemAdded;
		
		if (onItemAdded != null)
			menuTree.itemAdded = onItemAdded;
		
		if (onItemClicked != null)
			menuTree.itemClicked = onItemClicked;
		
		menuTree.initialize(function(e){
			
			if (!e)
				done(menuTree);
			
		});
		
	});
	
}

function getMenuTree(area, done)
{
	require(['jquery', 'tbtree'], function ($, tbtree) {
		var menuTree = tbtree('#div_sidemenu_' + area);
		done(menuTree);
		
	});
}

function getTabWindow(done)
{
	require(['jquery', 'tabWindow'], function ($, tabWindow) {
		var retTabWindow = tabWindow('.span9');
		done(retTabWindow);
	});
}

function openTab(url)
{
	
}

function newRobot()
{
	//require(['app'], function (app) {
		var account_id = '<%- account_id  %>';
		//console.log('new project happening');
		basePage.app.modalWindow('<h3 id="myModalLabel">New Robot</h3>', '/robot/create?account_id=' + sess['account']._id, 500, 640,'save','Create');
	//});
}

function newProcessMap()
{
	//require(['app'], function (app) {
		var account_id = '<%- account_id  %>';
		//console.log('new project happening');
		basePage.app.modalWindow('<h3 id="myModalLabel">New Process Map</h3>', '/processmap/create?account_id=' + sess['account']._id, 500, 500,'save','Create');
	//});
}

function newSchematic()
{
	//require(['app'], function (app) {
		var account_id = '<%- account_id  %>';
		//console.log('new project happening');
		basePage.app.modalWindow('<h3 id="myModalLabel">New Schematic</h3>', '/schematic/create?account_id=' + sess['account']._id, 500, 500,'save','Create');
	//});
}

function newProject()
{
	//require(['app'], function (app) {
		//var account_id = '<%- account_id  %>';
		//console.log('new project happening');
		
	
		basePage.app.modalWindow('<h3 id="myModalLabel">New Project</h3>', '/project/create?account_id=' + sess['account']._id, 500, 500,'save','Create');
	//});
}

function newObjectAdded(area, type, object, done)
{
	if (type == 'Project')
	{
		require(['jquery', 'tbtree'], function ($, tbtree) {
		    tbtree('#div_sidemenu_' + area).update([object], null, 'name', '_id', type, true, function(){
		    	
		    	console.log('new robot added ');
		    	console.log(object);
		    	
		    	console.log(done);
		    	
		    	if (done != null)
		    		done();
		    	
		    });
		});
	}
	
	if (type == 'Robot')
	{
		require(['jquery', 'tbtree'], function ($, tbtree) {
			
			var parentId = 'Project_Processor_' + object.projectId;
			if (object.robotType == 'component')
				parentId = 'Project_Component_' + object.projectId;
			
		    tbtree('#div_sidemenu_' + area).update([object], parentId, 'name', '_id', type, true, function(){
		    	
		    	console.log('new project added ');
		    	console.log(object);
		    	
		    	console.log(done);
		    	
		    	if (done != null)
		    		done();
		    	
		    });
		});
	}
}

</script>