<html>
<head>

<%- helper.tag('js','jquery-min,jquery.easyui.min,application,bootstrap.min') %>
<%- helper.tag('css','noductionstyle,bootstrap-responsive.min,bootstrap.min') %>

</head>
<body>
<div class="component_container">
<%-body%>
<div id="outer_message_div" class="message_container"><div class="message_container_inner" id="inner_message_div"><table class="message_container_table"><tr><td class="message_container_text">Test Message</td></tr></table>
</div>
</body>
</html>