<!DOCTYPE html>
<html>
<head>

	<%- tag('js','require-config,require') %>
	<%- tag('css','noductionstyle,bootstrap,bootstrap-responsive') %>
	
	<script>

		var api_url = '<%- api_url  %>';
		var basePage;
	
		require.config(requireConfig());
	
		require(['base-page', 'bootstrap', 'app'], function(bp, bs, app){
			bp.initialize(app);
			basePage = bp;
		});

	</script>

</head>
<body>
<div class="component_container">
<%-body%>
</div>
</body>
</html>