<!DOCTYPE html>
<html>
<head>


<%- tag('js','require-config,require') %>
<%- tag('css','noductionstyle,bootstrap,bootstrap-responsive,tbtree') %>

<style>

body,html{
	  height:100%;
}

</style>

<script>

var api_url = '<%- api_url  %>';
var basePage;

require.config(requireConfig());

require(['base-page', 'bootstrap', 'app'], function(bp, bootstrap, app){
	
	console.log('bootstrap:');
	console.log(bootstrap);
	bp.initialize(app);
	basePage = bp;
});

</script>


<script>

onDocumentReadyEvent = function(){
	refreshSessionStatus();
}

function refreshSessionStatus()
{
	var session = basePage.getSession(function(session){
		
		console.log(session);
		
		var session_status = "<span>Logged in as " + session.user.emailaddress + ", <a href=\"/auth/logout\">logout</a></span>";
		
		if (session['account'] != null)
			session_status = "<span>Logged in account " + session['account'].name + " as " + session.user.emailaddress + "<br><a href=\"/auth/logout\">logout</a> or <a href=\"/account/available\">switch accounts</a></span>";
		
		$('#div_session_status').html(session_status);
		
	});
}


</script>

</head>
<body>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span8">
		<h3 class="muted">Prefab Studio</h3>
		</div>
		<div class="span4">
			<div id="div_session_status" name="div_session_status">
			</div>
		</div>
	</div>
	<div class="row-fluid">
	<%-body%>
	</div>
</div>
<div id="outer_message_div" class="message_container"><div class="message_container_inner" id="inner_message_div"><table class="message_container_table"><tr><td class="message_container_text">Test Message</td></tr></table>
</div></div>
</body>
</html>