<style type="text/css" media="screen">
    #editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>

<script>

/*
 *
 */

var api = null;
var appl = null;
var sourceEditor = null;

onReadyAPIEvent = function(api_client, session, app)
{
	
	$('html').css('height','100%');
	$('body').css('height','100%');
	$('.component_container').css('height','100%');
	$('#div_editor').css('height','100%');
	
	var default_code = '<%- default_code  %>';
	var mode = '<%- mode  %>';
	var deserialize = <%- deserialize  %>;
	
	require(['jquery', 'underscore', 'sourceEditor'], function($, _, srcEdit){
		
		api = api_client;
		appl = app;
		sourceEditor = srcEdit('div_editor');
		
		console.log('default_code');
		console.log(default_code);
		
		sourceEditor.initialize(default_code, mode, deserialize, function(e){
			
			$('#div_editor').css('display','block')
			console.log('init happened');
			if (e)
				console.log(e);
			
		});
		
	});
}

</script>
<span class='editor-buttons'>
	<img src='/images/save32.png' alt='save'/>
	<img src='/images/tag32.png' alt='tag'/>
	<img src='/images/search32.png' alt='search'/>
	<img src='/images/versioncontrol32.png' alt='version control'/>
	<img src='/images/trash32.png' alt='delete'/>
</span>
<div id="div_editor" style="display:none">
	
</div>

